<div class="row">
	<div class="col">
		<section class="card">
			<header class="card-header d-flex" style="align-items: center;">
				{% if back_to %}
				<a class="ib mr-2" onclick="window.location ='{{ back_to }}'">
					<i class="fas fa-arrow-circle-left" style="font-size: 20px; cursor: pointer;"></i>
				</a>
				{% endif %}
				<h2 class="card-title ib">{{ form_title }}</h2>
				{{ helper_buttons_html or '' }}
			</header>
			<div class="card-body">
				<div class="alert alert-danger {% if form_error %}d-block{% else %}d-none{% endif %}" role="alert">
					{{ form_error }}
				  </div>
				<form class="form-horizontal form-bordered" action="{{ action_link }}" method="post">
					<input id="csrf_token" name="csrf_token" type="hidden" value="{{ form_csrf }}">
					{{ form_html }}
					<footer class="card-footer pb-0">
						<div class="row justify-content-end">
								<button class="btn btn-primary ml-2">Enviar</button>
						</div>
					</footer>
				</form>
			</div>
		</section>
	</div>
</div>
