<div class="row">
	<div class="col">
		<section class="card">
			<header class="card-header">
				<h2 class="card-title">{{ form_title }}</h2>
			</header>
			<div class="card-body">
				<div class="alert alert-danger {% if form_error %}d-block{% else %}d-none{% endif %}" role="alert">
					{{ form_error }}
				  </div>
				<form class="form-horizontal form-bordered" action="{{ action_link }}" method="post">
					<input id="csrf_token" name="csrf_token" type="hidden" value="{{ form_csrf }}">
					{{ form_html }}
					<footer class="card-footer">
						<div class="row justify-content-end">
							<div>
								<button type="reset" class="btn btn-default">Borrar</button>
								<button class="btn btn-primary ml-2">Enviar</button>
							</div>
						</div>
					</footer>
				</form>
			</div>
		</section>
	</div>
</div>
