# ------- DATABASE ------- #

DATABASE_ENGINE = 
DATABASE_HOST = '127.0.0.1'
DATABASE_PORT = 
DATABASE_NAME = 
DATABASE_USER = 
DATABASE_PASSWORD = 

# --------- MISC --------- #

TIMEZONE = 
ENGINE_ECHO = true