<div class="form-group row">
    <label class="col-sm-3 control-label text-sm-right pt-2">Código <span class="required"> *</span></label>
    <div class="col-sm-2">
        <input type="text" name="AF_codigo" class="form-control" placeholder="Código de Categoría" required="" {% if
            edit_mode %}value="{{ obj.AF_codigo }}" readonly{% endif %}>
    </div>
    <label class="col-sm-1 control-label text-sm-right pt-2">Nombre <span class="required"> *</span></label>
    <div class="col-sm-4">
        <input type="text" name="AF_nombre" class="form-control" placeholder="Nombre de Categoría" required="" {% if
            edit_mode %}value="{{ obj.AF_nombre }}" {% endif %}>
    </div>
</div>

<div class="form-group row">
    <label class="col-lg-3 control-label text-lg-right pt-2">Descripción <span class="required"> *</span></label>
    <div class="col-lg-7">
        <textarea type="text" name="AF_descripcion" class="form-control" placeholder="Descripción de Categoría"
            required="">{% if edit_mode %}{{ obj.AF_descripcion }}{% endif %}</textarea>
    </div>
</div>

{% if edit_mode %}
<div class="form-group row">
    <label class="col-lg-3 control-label text-lg-right pt-2">¿Activo?</label>
    <div class="col-lg-3">
        <div class="switch switch-sm switch-primary">
            <input type="checkbox" name="BO_activo" data-plugin-ios-switch="" {% if obj.BO_activo %}checked="checked" {%
                endif %} style="display: none;">
        </div>
    </div>
    <label class="col-lg-1 control-label text-lg-right pt-2">Nivel Jerarquía </label>
    <div class="col-lg-3">
        <input type="text" class="form-control" name="NU_nivel_jerarquia" value="{{ obj.NU_nivel_jerarquia }}" readonly>
    </div>
</div>
{% endif %}

<div class="form-group row"
    style="border-bottom: 1px solid #eff2f7 !important; padding-bottom: 15px !important; margin-bottom: 15px !important;">
    <label class="col-lg-3 control-label text-lg-right pt-2">Categoría Padre</label>
    <div class="col-lg-7">
        <select data-plugin-selectTwo class="form-control populate" name="AF_codigo_categoria_padre"
            data-plugin-options='{ "placeholder": "Categoría Padre", "allowClear": true }' id="category-select">
            <option value=""></option>
            {% for category in categories %}
            <option value="{{ category.AF_codigo }}">
                {{ category.authorative_name }}
            </option>
            {% endfor %}
        </select>
    </div>
</div>

{% if edit_mode %}
<script>
    $(document).ready(function () {
        // Set defaults
        $('#category-select').val('{{ obj.AF_codigo_categoria_padre }}').trigger('change');
    });
</script>
{% endif %}