<div class="form-group row">
    <label class="col-sm-3 control-label text-sm-right pt-2">Código <span class="required"> *</span></label>
    <div class="col-sm-7">
        <input type="text" name="AF_codigo" class="form-control" placeholder="Código de Prioridad" required="" 
        {% if edit_mode %}value="{{ priority.AF_codigo }}" readonly{% endif %}>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3 control-label text-sm-right pt-2">Descripción <span class="required"> *</span></label>
    <div class="col-sm-7">
        <input type="text" name="AF_descripcion" class="form-control" placeholder="Descripción de Prioridad" required=""
        {% if edit_mode %}value="{{ priority.AF_descripcion }}"{% endif %}>
    </div>
</div>

<div class="form-group row" style="border-bottom: 1px solid #eff2f7 !important; padding-bottom: 15px !important; margin-bottom: 15px !important;">
    <label class="col-lg-3 control-label text-lg-right pt-2">Color <span class="required"> *</span></label>
    <div class="col-lg-3">
        <div class="input-group color colorpicker-element" data-plugin-colorpicker="" data-colorpicker-id="4">
            <span class="input-group-prepend"><span class="input-group-text input-group-addon"><i></i></span></span>
            <input type="text" class="form-control" name="AF_color" data-original-title="" title="" required=""
            {% if edit_mode %}value="{{ priority.AF_color }}"{% endif %}>
        </div>
    </div>
    <label class="col-lg-1 control-label text-lg-right pt-2">Prioridad <span class="required"> *</span></label>
    <div class="col-lg-3">
        <div data-plugin-spinner=""
            data-plugin-options="{ &quot;value&quot;:1, &quot;step&quot;: 1, &quot;min&quot;: 1, &quot;max&quot;: 999 }">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-default spinner-up">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <input type="text" class="spinner-input form-control" maxlength="3" name="NU_prioridad" required=""
                {% if edit_mode %}value="{{ priority.NU_prioridad }}"{% endif %}>
                <div class="input-group-append">
                    <button type="button" class="btn btn-default spinner-down">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>