<section class="card">
    <div class="card-body">
        <table class="table table-responsive-md mb-0" 
        style="text-align: center; font-size: medium; overflow: hidden; text-overflow: ellipsis;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Estatus</th>
                    <th>Categoría</th>
                    <th>Proridad</th>
                    <th>Analista</th>
                    <th>F. Asignación</th>
                    <th>Detalle</th>
                </tr>
            </thead> 
            <tbody>
                {% for obj in objects %}
                <tr>
                    <td>{{ obj.NU_ticket }}</td>
                    <td>{{ obj.AF_titulo }}</td>
                    <td>{{ obj.AF_estatus }}</td>
                    <td>{{ obj.categoria.authorative_name }}</td>
                    <td style="background-color: {{ obj.prioridad.AF_color }}; font-weight: 600;">{{ obj.prioridad.AF_codigo }}</td>
                    <td>{{ obj.analista_asignado.AF_alias or 'Sin Asignar'}}</td>
                    <td>{{ obj.TI_fecha_asignacion or 'N.A' }}</td>
                    <td>
                        <a href="{{ ticket_detail_url }}?_={{ obj.NU_ticket }}">
                            <i class="fas fa-edit" style="color: #194d80;"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>