<li class="ib mr-2">
    <div class="btn-group">
        <a href="#" class="item-action fas fa-chevron-down" data-toggle="dropdown"></a>

        <ul class="dropdown-menu" role="menu">
            <li class="dropdown-item"><a class="dropdown-link" onclick="window.location.search = ''">Todas</a></li>
            <li class="dropdown-item"><a class="dropdown-link" onclick="window.location.search = '?with_ticket'">Con Ticket</a></li>
            <li class="dropdown-item"><a class="dropdown-link" onclick="window.location.search = '?without_ticket'">Sin Ticket</a></li>
        </ul>
    </div>
</li>
<li class="ib mr-2">
    <a class="item-action fas fa-sync" onclick="window.location.search = '?reload'"></a>
</li>
<li class="ib mr-2">
    <a class="item-action fas fa-archive" onclick="window.location.search = '?archived'"></a>
</li>